{% extends "base.html" %}
{% block content %}
    <main class="main main--about">
        <p>
            Hi, I'm Taehun Jang! 
            I'm a Computer Science major with a passion for solving complex problems 
            through software engineering. As I prepare to graduate from The University of 
            Texas at Dallas, I'm eager to apply my skills in a real-world setting.
        </p>
        <p>
            My journey into the tech world has been an exciting one. I've had the opportunity to intern at AVIEW International, 
            where I was part of a team that developed an interactive website using Next.js, 
            JavaScript, Tailwind CSS, and Firebase. 
            This experience not only honed my technical skills but also taught me 
            the value of teamwork and effective communication.
        </p>
        <p>
            But my background isn't just technical. Before diving into Computer Science, 
            I served in the United States Army. This role instilled in me a strong sense of discipline, 
            teamwork, and effective communication. After my service, 
            I worked as a Sales Representative, where I honed my skills in client engagement 
            and needs assessment. These diverse experiences have collectively equipped me with 
            a unique set of soft skills that I find invaluable in tech roles, especially when it 
            comes to client interactions and collaborative projects.
        </p>
        <p>
            I'm proficient in a range of in-demand programming languages and frameworks, including Python for backend development, JavaScript along with React.js for frontend work, and SQL for database management. I've also gained experience with cloud computing through AWS and am well-versed in version control using Git.
        </p>
        <p>
            I'm here to make a meaningful impact through software engineering,
             and I'm always willing to take on new challenges to grow both personally and 
             professionally. Let's connect and make something great together!
        </p>
    </main>
{% endblock %}