{% extends 'base.html' %}
{% block content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:tjang.swe@gmail.com" target="_blank">
                        tjang.swe@gmail.com 
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>GitHub:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/tatehun" target="_blank">
                        @tatehun
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>Linkedin:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://linkedin.com/in/tjswe" target="_blank">
                        @tjswe
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}